<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163796425-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-163796425-1');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/assets/css/main.css">
  <link type="text/css" rel="stylesheet" href="/assets/css/non_mobile.css" media="screen and (min-width: {% for item in site.data.devices | where item.device == "tablet" %}device.size{% endfor %})">
  <link type="text/css" rel="stylesheet" href="/assets/css/animation.css" media="screen and (min-width: {% for item in site.data.devices | where item.device == "computer" %}device.size{% endfor %})">
  <link type="text/css" rel="stylesheet" href="/assets/fa/css/all.min.css" media="screen and (min-width: {% for item in site.data.devices | where item.device == "computer" %}device.size{% endfor %})">
  <title>{{ page.title | default: Hecrenews}}</title>
  {% if page.layout == "post" %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://google.com/article"
    },
    "headline": "{{ page.title }}",
    "image": [
      "https://hecrenews.github.io{{ page.thumb }}"
    ],
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.date | date_to_xmlschema }}",
    "author": {
      "@type": "person",
      "name": "{% include authors/{{ page.author }}/name.html %}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Hecrenews",
      "logo": {
        "@type": "ImageObject",
        "url": "https://hecrenews.github.io/assets/images/hecrenews_banner.png"
      }
    }
  }
  </script>
  {% elsif page.layout == "home" %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "https://hecrenews.github.io",
    "logo": "https://hecrenews.github.io/assets/images/hen.png"
  }
  </script>
  {% endif %}
</head>
