// Posts
.home {
    padding: 16px;
}

.post-list-heading {

}

ul.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  li {
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    .post-thumb {
      display: block;
    }
    .post-text {
      padding: 16px;
      display: flex;
      justify-content: space-between;
    }
    .post-meta {
      font-family: sans-serif;
    }
    .post-link {
      text-decoration: underline;
      color: #33a5ff;
    }
    &:after {
      content: "";
      background-color: #3a3a3a;
      opacity: 0.8;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-height: 0;
      transition: 1s;
    }
    &:hover {
      &:after {
        max-height: 100vh; // Should not exceed this value
      }
    }
  }
}
