#latest, #news, #hba {
  .container:nth-child(1) {
    width: calc(50% - 16px);
    margin-right: 16px;
  }

  .container:nth-child(2) {
    width: calc(50% - 6px);
  }
}

#news-hba-section {

  .news-section {
    width: calc(50% - 16px);
    margin-right: 16px;
  }

  .hba-section {
    width: calc(50% - 6px);
  }
}

.post-card-container {

  .post-card {

    &-author {
      visibility: visible;
    }
  }
}

.post-list-container {

  .post-list {

    &-item {

      .post-list-thumb {
        width: 15%;
        padding-top: 15%;
      }
    }

    .post-list-info {
      width: calc(85% - 32px);
    }
  }
}
