#latest {
  display: flex;
  flex-direction: row;

  .container:nth-child(1) {
    flex: 50%;
    min-width: 50%;
    max-width: 50%;
    margin-right: 16px;
  }

  .container:nth-child(2) {
    flex: 50%;
    min-width: 50%;
    max-width: 50%;
  }
}

.post-card-container {

  .post-card {

    &-author {
      visibility: visible;
    }
  }
}

.post-list-container {

  .post-list {

    &-item {

      .post-list-thumb {
        width: 15%;
        padding-top: 15%;
      }
    }

    .post-list-info {
      width: auto;
    }
  }
}
