#latest {
  .container:nth-child(1) {
    width: calc(50% - 8px);
    margin-right: 16px;
  }

  .container:nth-child(2) {
    width: calc(50% - 8px);
  }
}

#news-hba-section {

  #news, #hba {

    .container {
      width: 100%;
    }
  }

  .news-section {
    width: calc(50% - 8px);
    margin-right: 16px;
    display: inline-block;
  }

  .hba-section {
    width: calc(50% - 8px);
    display: inline-block;
  }
}

.post-card-container {

  .post-card {

    &-author {
      visibility: visible;
    }
  }
}

.post-list-container {

  .post-list {

    &-item {

      .post-list-thumb {
        width: 15%;
        padding-top: 15%;
      }
    }

    .post-list-info {
      width: calc(85% - 32px);
    }
  }
}
