nav {
  width: 100%;

  ul {
    list-style: none;
    background-color: #ff4d4d;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;

    img {
      width: 64px;
      height: 64px;
    }

    li {
      display: flex;
      align-items: center;
      transition: 0.3s;

      a {
        color: #fff;
        text-decoration: none;
        font-family: sans-serif;
        padding: 16px;

        .nav-link {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          &:before {
            width: 0;
            height: 0;
          }

          p {
            position: relative;
            color: #fff;
            margin: 0;
            transition: 0.3s;
          }

          i {
            position: absolute;
            transition: 0.3s;
            transform: translateY(64px);
          }
        }
      }

      &:hover {
        background-color: #ee2323;

        .nav-link {

          &:before {
            visibility: hidden;
            transform: scaleX(0);
          }

          p {
            transform: translateY(-64px);
          }

          i {
            transform: translateY(0);
          }
        }
      }
    }
  }
}
