---
layout: default
---

{{ content }}

{%- if site.posts.size > 0 -%}
  <div class="post-list-container container">
    <ul class="post-list">
      {% for post in site.posts %}
      <li class="post-list-item">
        <div class="post-list-thumb" src="{{ post.thumb }}">
          <img src="{{ post.thumb }}">
        </div>
        <div class="post-list-info">
          <a class="post-list-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          <span class="post-list-date">{{ post.date | date: date_format }}</span>
        </div>
      </li>
      {% endfor %}
  </ul>
</div>
{%- endif -%}
