---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Latest" }}</h2>
    <div id="latest">
      <div class="post-card-container container">
        {%- for post in site.posts limit:1 -%}
        <div class="post-card">
          <div class="post-card-author">
            {% include authors/{{ post.author }}/icon.html %}
            <p>{% include authors/{{ post.author }}/name.html %}</p>
          </div>
          <img class="post-card-thumb" src="{{ post.thumb }}">
          <div class="post-card-text">
            <a class="post-card-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-card-date">{{ post.date | date: date_format }}</span>
          </div>
        </div>
        {%- endfor -%}
      </div>
      <div class="post-list-container container">
        <ul class="post-list">
          {% for post in site.posts offset:1 limit:5 %}
          <li class="post-list-item">
            <img class="post-list-thumb" src="{{ post.thumb }}">
            <a class="post-list-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            <span class="post-list-date">{{ post.date | date: date_format }}</span>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>
  {%- endif -%}

</div>
